* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}


/* ----- ----- HEADER ----- ----- */


.page {
    width: 70%;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
    height: auto;
}

header {
    background-color: #333;
    color: #A4FFF0;
    height: auto;
    padding: 2rem;
}

header hr {
    width: 70%;
}

h1 {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
}

header div h2 {
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 6px;
}

header div img {
    width: 160px;
    border-radius: 50%;
    float: right;
    margin: 0;
}

/* ----- ----- BODY ----- ----- */


main {
    display: flex;
    height: auto;
}

/* ----- ----- LEFT ----- ----- */


#left {
    background-color: #00FFD4;
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#education, #contact, #languages {
    text-decoration: none;
    list-style: none;
}

main aside ul li i {
    margin: 10px 10px;
}

h4 {
    text-transform: uppercase;
    color: #333;
    font-size: 1.2rem;
    margin: 6px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside p {
    font-size: .9rem;
}

#left hr {
    color: #333;
    width: 100%;
}

h3 {
    color: #006A58;
    text-align: center;
    text-transform: uppercase;
}

#languages img {
    width: 36px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}
#languages .container {
    display: flex;
    align-items: center;
    margin: 14px 0;
}

/* ----- ----- RIGHT ----- ----- */

#right {
    padding: 20px 40px;
    width: 1000px;
}

#right h3 {
    color: #333;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

#right ul li {
    list-style-type: disc;
    margin-left: 20px;
}


/* ======== MEDIA QUERIES ======= */


@media screen and (min-width: 1440px) {
    .page {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .page {
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page {
        width: 90%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    #left {
        width: 100%;
    }
    #contact {
        margin-left: -12px;
    }
    h3 {
        text-align: left;
    }
    #contact {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 96%;
    }
    #contact li {
        margin: 2px 6px;
    }
    #education {
        width: 94%;
    }
    #right {
        width: 100%;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 680px) {
    header div img {
        display: none;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .page {
        width: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: 2rem;
    }
    #left {
        width: 100%;
    }
    #contact {
        margin-left: -12px;
    }
    h3 {
        text-align: left;
    }
    #contact {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 96%;
    }
    #contact li {
        margin: 2px 6px;
    }
    #education {
        width: 94%;
    }
    #right {
        width: 100%;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .page {
        width: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    header ul {
        flex-wrap: wrap;
    }
    h1 {
        font-size: 1.6rem;
    }
    h3 {
        text-align: left;
    }
    #left {
        width: 100%;
    }
    #contact {
        font-size: .9rem;
    }
    #right {
        width: 100%;
        padding-bottom: 60px;
    }
}